NODE_ENV=development
PORT=3000
DB_URL=mongodb://localhost:27017/express-video
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=7d
ALIYUN_ACCESS_KEY_ID=your-access-key-id
ALIYUN_ACCESS_KEY_SECRET=your-access-key-secret
